.f5-widget {

    &-footer {
        color: #231F20;
        background: linear-gradient(118.27deg, #FFFFFF 0%, #F5F5F5 67.48%);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 40px 60px;
        gap: 16px;
        font-size: 15px;
        font-weight: 400;

    &__text {
        color: #231F20;
        line-height: 134%;
        max-height: 20px;
    }

    &__info {
        display: inline-flex;
        flex-direction: column;
        gap: 12px;
        margin-right: 40px; 
    }

    &__a{
        color: #231F20;
        text-decoration: none;
        opacity: .9;
        max-height: 20px;
        line-height: 135%;
        display: flex;
        align-items: center;
        gap: 5px;

        &:hover {
            opacity: 1;
        }
        &.alt:hover {
            text-decoration: underline;
        }
    }

    &__bottom {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 12px;
    }

    &__line {
        position: absolute;
        height: 1px;
        left: 0%;
        right: 0%;
        top: 0px;

        background: linear-gradient(90deg, #231F20 0%, rgba(35, 31, 32, 0) 80%);
        opacity: 0.2;   
    }
    
    }
}