.f5-widget-footer {
  color: #131420;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 18px 30px;
  gap: 20px;
  font-size: 15px;
  font-weight: 400;
  box-sizing: border-box;
}
.f5-widget-footer__text {
  color: #131420;
  line-height: 134%;
  max-height: 20px;
}
.f5-widget-footer__info {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
}
.f5-widget-footer__info_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.f5-widget-footer__info_inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  flex-wrap: wrap;
}
.f5-widget-footer__info.alt {
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
}
.f5-widget-footer__a {
  color: #131420;
  text-decoration: none;
  opacity: .8;
  max-height: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  flex-grow: 0;
  width: fit-content;
}
.f5-widget-footer__a:hover {
  opacity: 1;
}
.f5-widget-footer__a.alt:hover {
  opacity: .8;
  text-decoration: underline;
}
.f5-widget-footer__logo {
  color: #231F20;
  max-height: 20px;
}
.f5-widget-footer__top {
  display: inline-flex;
}
.f5-widget-footer__line {
  position: absolute;
  height: 1px;
  left: 0%;
  right: 0%;
  top: 0px;
  background: #e5e5e5;
}
.f5-widget-footer__helper {
  cursor: default;
  font-weight: 400;
  font-size: 15px;
  line-height: 135%;
  text-align: center;
  color: #131420;
  opacity: 0.6;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.f5-widget-footer.alt {
  position: relative;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  padding: 15px 20px;
}
.f5-widget-footer__qr {
  width: 80px;
  height: 80px;
}
